#edition-menu {
  z-index: 1;
  transform: translateY(-1px); //stop flashing top when scrolling
  position: relative;
  @include flex($justify: center, $align: center, $gap: 21px);
  position: sticky;
  top: 0;
  // height: 59px;
  background-color: black;
  color: white;
  i {
    padding-right: 9px;
  }
  & > button {
    color:black;
    height: 38px;
    margin: 11px 0 10px 0;
    background-color: white;
    font-family: "work sans";
    padding: 0 23px;
    border: none;
    &:hover {
      background-color: rgb(240, 240, 240);
    }
  }
}
