button {
  height: 37px;
  min-width: 100px;
  border: 1px solid $primary_color;
  color: $primary_color;
  background-color: $background-color;
  font-family: "Syne";
  font-size: 16px;
  font-weight: 700;
  margin: 0 auto;
  text-align: center;
  border-radius: 60px;
  transition: 0.2s;

  &:hover {
    background-color: $btn-hover_color;
    color: $background-color;
    cursor: pointer;
  }

  &.btn-filter-selected {
    background-color: $primary_color;
    color: $background-color;
    cursor: default;
  }
}

%submit-input {
  font-family: "Syne";
  font-weight: 700;
  color: white;
  background-color: #1d6154;
  margin: 2em auto;
  width: 180px;
  text-align: center;
  border-radius: 60px;
  transition: 0.2s;
  &:hover {
    cursor: pointer;
    background-color: $btn-hover_color;
  }
}
