/* --- Modal --- */
// credit: https://www.w3schools.com/howto/howto_css_modals.asp
// The Modal (background)
.modal {
  color: black;
  position: absolute; // Stay in place
  z-index: 1; // Sit on top
  left: 0;
  top: 59px;
  width: 100%; // Full parent width
  height: 100vh; // Full height
  overflow: auto; // Enable scroll if needed
  background-color: rgba(0, 0, 0, 0.4); // Black w/ opacity

  // The Close Button
  &__close-btn {
    float: right;
    width: 24px;
    height: 24px;
    margin: 26px 30px 0;
    font-weight: 600;
    font-size: 24px;
    text-align: center;
    line-height: 24px;
    &:hover {
      cursor: pointer;
    }
  }
  // The Previous Button
  &__previous-btn {
    float: left;
    width: 21px;
    height: 21px;
    margin: 26px 0 0 30px;
    background-image: url(../icons/back-arrow.svg);
    &:hover {
      cursor: pointer;
    }
  }

  &__content {
    overflow: hidden;
    position: relative; // for animation
    @include flex($direction: column);
    width: 50%; // Could be more or less, depending on screen size
    max-width: 630px;
    max-width: 630px;
    position: absolute;
    height: fit-content;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    // margin: 5% auto; // 15% from the top and centered
    // padding: 26px 30px 55px 30px;
    border-radius: 10px;
    background-color: transparent;
    animation-name: animatetop;
    animation-duration: 0.5s;

    &__page-1 {
      width: 100%;
      border-radius: 10px;
      height: fit-content;
      background-color: $modal-background-color;
      padding-bottom: 53px;
    }
    &__page-2 {
      position: absolute;
      height: 0px;
      width: 100%;
      border-radius: 10px;
      background-color: $modal-background-color;
      height: fit-content;
      transform: translateX(100%);
    }
    &__title1,
    &__title2 {
      width: 100%;
      margin-top: 55px;
      margin-bottom: 46px;
      font-family: "Work Sans";
      font-size: 26px;
      font-weight: 400;
      line-height: 30.5px;
      color: black;
      text-align: center;
    }
    &_title2{
      margin-top:60px;
    }
    &__container1 {
      display: grid;
      margin: 0 auto;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
      grid-column-gap: 9px;
      grid-row-gap: 12px;
      width: calc((2 / 3) * 100%);
      padding-bottom: 47px;
      border-bottom: 1px solid $modal-border_color;
    }

    //page2
    &__container2 {
      width: calc((2 / 3) * 100%);
      margin: 22px auto 55px auto;

      &__send-pic {
        @include flex($direction: column, $align: center);
        background-color: $background-color2;
        padding: 22px 0 19px 0;
      }
      img {
        width: 58px;
        height: 58px;
      }
      #add-pic-btn {
        width: 178px;
        margin: 15px 0 7px 0;
        border: none;
        background-color: $background-color3;
        color: $send-pic-btn_color;
        &:hover {
          background-color: darken($background-color3, 5);
        }
      }
      p {
        font-size: 10px;
      }
      .borderline {
        margin-top: 47px;

        border-top: 1px solid $modal-border_color;
      }
      button {
        display: block;
        height: 36px;
        width: 237px;
        margin-top: 32px;
        font-size: 14px;
        border: none;
        background-color: $background-color4;
        color: $modal-background-color;

        &:hover {
          background-color: darken($background-color4, 5);
        }
      }
      form {
        @extend %form;
        margin-bottom: 47px;
        margin-top: 9px;
      }
      label {
        margin: 21px 0 10px 0;
      }
      .select-div {
        position: relative;

        &::after {
          content: url("../icons/select-arrow.svg");
          display: inline-block;
          position: absolute;
          right: 23px;
          top: 18px;
        }
        select {
          padding-left: 16px;
          font-family: "Work Sans";
          font-size: 1em;
          width: 100%;
          appearance: none;
        }
      }
    }
    &__picture {
      width:100%;
      &:hover {
        cursor: pointer;
      }
      &:hover + span {
        cursor: pointer;
        display: inline-block;
        opacity: 100%;
      }
    }
    &__move-btn {
      opacity: 0;
      // display: none;
      position: absolute;
      top: 6px;
      right: 25px;
      width: 17px;
      height: 17px;
      background-size: 100%;
      background-image: url(../icons/move.svg);
      transition: all 0.1s;
      &:hover {
        cursor: pointer;
        opacity: 1;
      }
    }
    &__trash-btn {
      display: inline-block;
      position: absolute;
      top: 6px;
      right: 5px;
      width: 17px;
      height: 17px;
      background-image: url(../icons/trash.svg);
      &:hover {
        cursor: pointer;
      }
    }
    &__edit-btn {
      height: 14px;
      line-height: 14px;
      font-size: 0.84vw;
      &:hover {
        color: $secondary_color;
        cursor: pointer;
      }
    }
    figure {
      position: relative;
    }
  }

  &__add-picture-btn {
    @extend %submit-input;
    display: block;
    border: none;
    height: 37px;
    margin: 38px auto 0 auto;
    width: 237px;
  }

  &__remove-gallery-btn {
    display: block;
    background-color: $modal-background-color;
    border: none;
    color: $danger_color;
    font-family: "Syne";
    font-size: 14px;
    font-weight: 400;
    margin: 23px auto 0 auto;
    width: 230px;
    transition: all 0.2s;
    &:hover {
      color: $danger-hover_color;

      cursor: pointer;
    }
  }

  //  Add Animation
  @keyframes animatetop {
    from {
      top: -800px;
      opacity: 0;
    }
    to {
      top: 0px;
      opacity: 1;
    }
  }
}
