/*test*/ /* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/** end reset css**/
#edition-menu {
  display: flex;
  flex-direction: initial;
  justify-content: center;
  align-items: center;
  gap: 21px;
  height: 59px;
  background-color: black;
  color: white;
}
#edition-menu i {
  padding-right: 9px;
}
#edition-menu button {
  height: 38px;
  margin: 0;
  background-color: white;
  color: black;
  font-family: "work sans";
  padding: 0 23px;
  border: none;
}
#edition-menu button:hover {
  background-color: rgb(240, 240, 240);
}

.modifier-button {
  font-family: "work sans";
  font-weight: 400;
  font-size: 14px;
  line-height: 38px;
  text-align: left;
  color: black;
}
.modifier-button::before {
  font-family: "fontAwesome";
  content: "\f044";
  padding-right: 8px;
}
.modifier-button:hover {
  color: #B1663C;
  cursor: pointer;
}

button {
  height: 37px;
  min-width: 100px;
  border: 1px solid #1D6154;
  color: #1D6154;
  background-color: #FFFEF8;
  font-family: "Syne";
  font-size: 16px;
  font-weight: 700;
  margin: 0 auto;
  text-align: center;
  border-radius: 60px;
  transition: 0.2s;
}
button:hover {
  background-color: #0E2F28;
  color: #FFFEF8;
  cursor: pointer;
}
button.btn-filter-selected {
  background-color: #1D6154;
  color: #FFFEF8;
  cursor: default;
}

body {
  width: 100%;
  max-width: 1440px;
  margin: auto;
  font-family: "Work Sans";
  font-size: 14px;
}

main {
  background-color: #FFFEF8;
  padding: 0 150px;
}

section {
  padding: 50px 0;
}

h1 {
  display: flex;
  flex-direction: column;
  font-family: "Syne";
  font-size: 22px;
  font-weight: 800;
  color: #B1663C;
}
h1 > span {
  margin-top: 4px;
  font-family: "Work Sans";
  font-size: 10px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0.1em;
  text-transform: Uppercase;
}

h2 {
  font-family: "Syne";
  font-weight: 700;
  font-size: 30px;
  color: #1D6154;
}

header {
  background-color: #FFFEF8;
  display: flex;
  justify-content: space-between;
  padding: 50px 150px;
}
header nav ul {
  height: 42px;
  display: flex;
  align-items: center;
  list-style-type: none;
  gap: 32px;
}
header nav li {
  padding: 0 10px;
  font-size: 1.2em;
}
header nav li img {
  width: 22px;
  height: 22px;
}
header nav li:hover {
  color: #B1663C;
}
header nav a {
  color: black;
  font-size: 1rem;
  font-weight: 400;
  text-decoration: none;
}
header nav a:hover {
  color: #B1663C;
}
header nav a.active {
  font-weight: 600;
}

#introduction {
  display: flex;
  align-items: center;
}
#introduction figure {
  flex: 1;
}
#introduction img,
#introduction .modifier-button {
  display: block;
  margin: auto;
  width: 80%;
}
#introduction article {
  flex: 1;
}
#introduction h2 {
  margin-bottom: 1em;
}
#introduction p {
  margin-bottom: 0.5em;
}

#portfolio h2 {
  position: relative;
  text-align: center;
  margin-bottom: 1em;
}
#portfolio h2 .modifier-button {
  margin-left: 31px;
}
#portfolio .filters-container {
  margin: 51px auto;
  width: 585px;
  display: flex;
  flex-direction: initial;
  justify-content: initial;
  align-items: initial;
  gap: 10px;
}
#portfolio .filters-container button:nth-child(3) {
  width: 157px;
}
#portfolio .filters-container button:nth-child(4) {
  width: 198px;
}

.gallery {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}
.gallery img {
  width: 100%;
}

#contact, #login,
.login {
  width: 50%;
  margin: auto;
}
#contact > *, #login > *,
.login > * {
  text-align: center;
}
#contact h2, #login h2,
.login h2 {
  margin-bottom: 20px;
}
#contact form, #login form,
.login form {
  text-align: left;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
}
#contact form input, #login form input,
.login form input {
  height: 50px;
  font-size: 1.2em;
  border: none;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
  background-color: white;
}
#contact form input[type=text]:focus, #login form input[type=text]:focus,
.login form input[type=text]:focus, #contact form input[type=email]:focus, #login form input[type=email]:focus,
.login form input[type=email]:focus, #contact form input[type=password]:focus, #login form input[type=password]:focus,
.login form input[type=password]:focus {
  outline: 1px solid #B1663C;
}
#contact form input[type=submit], #login form input[type=submit],
.login form input[type=submit] {
  font-family: "Syne";
  font-weight: 700;
  color: white;
  background-color: #1d6154;
  margin: 2em auto;
  width: 180px;
  text-align: center;
  border-radius: 60px;
}
#contact form input[type=submit]:hover, #login form input[type=submit]:hover,
.login form input[type=submit]:hover {
  cursor: pointer;
  background-color: #0E2F28;
}
#contact label, #login label,
.login label {
  margin: 2em 0 1em 0;
  font-weight: 500;
}
#contact textarea, #login textarea,
.login textarea {
  border: none;
  box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
  background-color: white;
}
#contact textarea:focus, #login textarea:focus,
.login textarea:focus {
  outline: 1px solid #B1663C;
}

footer nav ul {
  display: flex;
  justify-content: flex-end;
  margin: 2em;
}

#login,
.login {
  height: 872px;
}
#login__message,
.login__message {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  height: 30px;
}
#login__message .brown,
.login__message .brown {
  color: #B1663C;
}
#login__message .fa-info,
.login__message .fa-info {
  display: flex;
  flex-direction: initial;
  justify-content: center;
  align-items: center;
  gap: initial;
  padding-bottom: 0.5px;
  font-size: 9px;
  border: 1px solid;
  width: 14.5px;
  height: 14px;
  border-radius: 50%;
}
#login__mail-message,
.login__mail-message {
  display: flex;
  flex-direction: initial;
  justify-content: initial;
  align-items: center;
  gap: 10px;
  height: 30px;
}
#login__password-message,
.login__password-message {
  display: flex;
  flex-direction: initial;
  justify-content: initial;
  align-items: center;
  gap: 10px;
  height: 2em;
}
#login a,
.login a {
  color: #3D3D3D;
  font-weight: 500;
  display: block;
  text-decoration: underline;
}
#login a i,
.login a i {
  margin-left: 10px;
  color: #1D6154;
}
#login a:hover,
.login a:hover {
  color: #93532F;
}
#login h2,
.login h2 {
  padding-top: 100px;
}
#login label,
.login label {
  color: #3D3D3D;
  margin-top: 0;
}
#login #login__button,
.login #login__button {
  margin-top: 0px;
}