$primary_color: #1d6154;
$secondary_color: #b1663c;
$tertiary_color: #93532f;
$btn-hover_color: #0e2f28;
$background-color: #fffef8;
$background-color2: #e8f1f6;
$background-color3: #c8d6dc;
$background-color4: #a7a7a7;
$login-page-text_color: #3d3d3d;
$modal-border_color: #b3b3b3;
$danger_color: #d65353;
$danger-hover_color: #ff5353;
$modal-background-color: #fefefe;
$send-pic-btn_color: #306685;
$info_color: lightblue;
